Page {
  background-color: #edece8;
}
.user_info_wrap {
  height: 45vh;
  overflow: hidden;
  position: relative;
  background-color: var(--themeColor);
}
.user_info_wrap .user_img_wrap {
  position: relative;
}
.user_info_wrap .user_img_wrap .user_bg {
  height: 60vh;
  filter: blur(10rpx);
}
.user_info_wrap .user_img_wrap .user_info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  text-align: center;
}
.user_info_wrap .user_img_wrap .user_info .user_icon {
  width: 150rpx;
  height: 150rpx;
  border-radius: 50%;
}
.user_info_wrap .user_img_wrap .user_info .user_name {
  color: #fff;
  margin-top: 40rpx;
  font-size: 40rpx;
}
.user_info_wrap .user_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  border: 1rpx solid greenyellow;
  color: greenyellow;
  font-size: 30rpx;
  padding: 30rpx;
  border-radius: 10rpx;
}
.user_content {
  position: relative;
}
.user_content .main {
  padding-bottom: 100rpx;
  color: #666;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40rpx;
}
.user_content .main .history_wrap {
  background-color: #fff;
  display: flex;
}
.user_content .main .history_wrap navigator {
  flex: 1;
  text-align: center;
  padding: 10rpx 0;
}
.user_content .main .history_wrap navigator .his_num {
  color: var(--themeColor);
}
.user_content .main .orders_wrap {
  background-color: #fff;
  margin-top: 20rpx;
}
.user_content .main .orders_wrap .orders_title {
  padding: 15rpx;
  border-bottom: 1rpx solid #ccc;
}
.user_content .main .orders_wrap .orders_content {
  display: flex;
  padding-top: 20rpx;
}
.user_content .main .orders_wrap .orders_content navigator {
  flex: 1;
  text-align: center;
}
.user_content .main .orders_wrap .orders_content navigator .iconfont {
  color: var(--themeColor);
}
.user_content .main .address_wrap {
  background-color: #fff;
  padding: 20rpx;
  margin-top: 30rpx;
}
.user_content .main .app_info_wrap {
  margin-top: 30rpx;
  background-color: #fff;
}
.user_content .main .app_info_wrap .app_info_item {
  padding: 20rpx;
  justify-content: space-between;
}
.user_content .main .recommend_wrap {
  margin-top: 30rpx;
  padding: 20rpx;
  background-color: #fff;
}
